.events {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.events li {
  padding: 30px;
  margin: 1rem;
  border-radius: 4px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.events div {
  margin-top: 0.5rem;
}

.events-details span {
  margin: 0.5rem;
}

.Approved {
  color: green;
  border: 1px solid green;
  box-shadow: 3px 2px 2px green;
  border-radius: 4px;
  padding: 5px;
}

.Rejected {
  color: red;
  border: 1px solid red;
  box-shadow: 3px 2px 2px red;
  border-radius: 4px;
  padding: 5px;
}

.Pending {
  color: blue;
  border: 1px solid blue;
  box-shadow: 3px 2px 2px blue;
  border-radius: 4px;
  padding: 5px;
}
