#root {
  display: flex;
  text-align: initial;
	align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

label#thumbnail {
  margin-bottom: 20px;
  border: 1px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

label#thumbnail input {
  display: none;
}

label#thumbnail.has-thumbnail {
  border: 0;
}

label#thumbnail.has-thumbnail img {
  display: none;
}

.container > .event-validation {
  margin-top: 12px;
}
